$z_header: 100 !default;

.ft-exo2{font-family: "Exo 2",sans-serif;}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{font-family: 'Exo 2', sans-serif;margin-bottom: 1em;}

h1,.h1{font-size: 2.25em; font-weight: 800; text-transform: uppercase;}
h2,.h2{font-size: 1.5em; font-weight: 800; text-transform: uppercase;}
h3,.h3{font-size: 1.125em; font-weight: 800; text-transform: uppercase;}
h4,.h4{font-size: 1em; font-weight: 800;}
h5,.h5{font-size: 1em; font-weight:700;}

.title--underbar{
  &:after{content:""; display: block;border-radius: 1px;height: 5px;width: 35px; background: var(--primary,#{$primary}); margin: 6px 0 0;}
  // &.shop:after, .shop &:after{background: color(aliases(shop));}
}

.mod_article{}

.wrapper--2_1{display: flex; gap: $spacing; flex-wrap: wrap; 
  // align-items: flex-start;
  @include media-max(sm){}
  @include media-max(xs){column-gap: $spacing/2;}
  .main{flex-basis: 60%; flex-grow: 1;}
  .side{flex-basis: 30%; flex-grow: 1; min-width: 250px; position: relative; font-size: 0.88em;  
    @include media-max(sm){flex-basis: 100%; min-width: 0; }
  }
}


body.cols--2{
  #main,aside{
    >.inside>[class*=mod_iso_]{@extend .mod_article !optional;}
  }
}

// inputs
.input-group{
  %input{border-top-right-radius: 0; border-bottom-right-radius: 0; border-right: 0; margin: 0;
    +%btn{border-top-left-radius: 0; border-bottom-left-radius: 0; margin: 0;  padding-right: 0.85em;
      &.btn-bd-input{
        --btn-border-color: #{input(border-color)};
        --btn-background:   #{input(background)};
        --btn-font-color:   #{input(border-color)};
     }
    }
    &:focus+%btn.btn-bd-input{
      --btn-border-color: #{input-focus(border-color)};
      --btn-background:   #{input-focus(background)};
      --btn-font-color:   #{input-focus(border-color)};
    }
  }
}
%input{padding: .25em .75em;
  &:is(textarea){padding: 0.75em;}
}

input[type="checkbox"].toggler{
  &+label{display: flex; align-items: center; gap:1em; padding: 0;
    &:before{height: 1.75em; width: 3.5em; margin: 0; margin-left: auto; order: 1; border-radius: 50px; background: color(greylighter); border-color: color(greystrong); position: relative;}
    &:after {opacity: 1; border: 1px solid color(greystrong); background: color(grey); transform: none; height: 1.75em; width: 1.75em; margin: 0; position: absolute; right: calc(3.5em - 1.75em); top: auto; left: auto; z-index: 1; border-radius: 50px; transition: all 0.4s;}
  }
  &:checked+label:after{right: 0; background: var(--primary); border-color: var(--primary);}
}

body{
  .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,
  .select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
      border-top-left-radius: input(radius);
      border-top-right-radius: input(radius);
  }

  .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
       border-bottom-left-radius: input(radius); 
       border-bottom-right-radius: input(radius); 
  }
}

.input-number__input[type="number"],
.input-number__input[type="text"]{padding-left: 2rem; padding-right: 2rem; text-align: center;}
.input-number__buttonsContainer{pointer-events: none; inset: 0; justify-content: space-between; align-items: center; flex-direction: row;}
.input-number__btn{width: 2rem; pointer-events: all; flex-grow: 0; line-height: 1 !important; height: 100%; display: flex; justify-content: center;align-items: center;
  &.plus{order: 1;}
}

.ce_grid-start.min150{--griditem-minwidth: 150px;}

// HOME
.home{}
#grid--homeHero{display: grid; gap:0; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr;
  @include media-max(lg){ grid-template-columns: 1fr 1fr;}
  @include media-max(sm){ grid-template-columns: 1fr;}
  >.item-grid{
    &:nth-child(1){grid-row: span 2; grid-column: span 2;
      @include media-max(sm){ grid-column: span 1;}
    }
    &:nth-child(2){
      &:is(:last-child){
        @include media-max(lg){ grid-column: span 2;}
        @include media-max(sm){ grid-column: span 1;}
      }
    }
    &:nth-child(3){}
  }
  .heroFW.height--content{height: 100% !important;}
  .heroFW__text{background: rgba(body(block-background),0.9); font-weight: 400; max-width: 650px; padding: 2em;
    h2{margin-top: 0;@extend .title--underbar !optional; margin-bottom: 1em; margin-top: -1rem;
      &:after{margin-top: 1em;}
    }
    .btn{margin-top: 1em;}
    &:empty{display: none;}
  }
}


// FOOTER
#footer.v2{
  .footer__content{gap: 2em; grid-template-columns: 2fr 1fr;}
  .footer__address{grid-row: 1/3; grid-column: 2;}
}



// OFFERS
.mod_offerslist .offer{cursor: pointer;}

.mod_offersreader{
  .ce_text table{@extend .table, .table-bordered, .table-sm, .table-striped !optional;}
}


// hero
.heroFW.hero--apm{ font-size: 1em;
  @extend .content--h--left,.content--v--top !optional;
  .heroFW__content{padding: 5% 0;}
  .heroFW__content__wrapper{ padding: 2em 2.5em; background: rgba(body(block-background),0.8); color: contrastFW(body(font-color),rgba(body(block-background),0.8)); max-width: none; margin-left: 0; margin-right: 0; width: auto;
    p{max-width: 50ch;}
  } 
}

// ISOTOPE CATALOGUE
.mod_iso_productreader{
  *:not(.modalFW__content)>& {
    .iso__block:nth-of-type(2){
      background: var(--primary); color:var(--primary-font); 
      .btn-bg-primary{
        --btn-background: #fff;
        --btn-border-color: #fff;
        --btn-font-color: var(--primary);
      }
    }
    .iso__block:nth-of-type(4) {background:color(greylighter); }
  }
  .heroFW{display: flex;min-height: 50vh !important; }
  .isSubproductsList{
    .heroFW{min-height: 0 !important;}
  }

  .modalFW &{
    min-width: 40vw;
    .sliderFW__container{min-height: 400px;}
    .sliderFW__rail {height: 100%;}
    .iso__contentwrapper{display: block !important;}
    .heroFW{min-height: 0 !important;}
  }
}

.table--cart{
  .table-list__container{
    figure{margin: 0; background: color(white);
      img{width: 100%; height: 120px; object-fit: contain; padding: 1em;}
    }
    td.col_last{padding-top: 3.25em;}
    td.actions{
      // position: absolute; top: 1em; right: 1em; z-index: 1; padding: 0;
      text-align: right; 
      a{padding: 0;font-size: 1.25em; line-height: 1;}
      a.remove{color: rgba($error,0.5);}
    }
  }
  .mode--block{
    .table-list__container{
      td.image{display: none;}
      td.col_last{padding-top: 0;}
    }
  }
  tr.product{@extend .table-list__line !optional; position: relative;}
  .table-list__cell{vertical-align: middle;padding: 1em;
    &:is(td.image){padding: 0; width: 120px;}
    &:is(td.price){text-align: center;}
    @include media-max(lg){max-width: none;}
  }
  .input-number__container{margin: 0; max-width: 80px;}
  .input-number__btn{width: 1.75rem;
    &.minus{border-top-left-radius: var(--btn-radius); border-bottom-left-radius: var(--btn-radius);}
    &.plus{border-top-right-radius: var(--btn-radius); border-bottom-right-radius: var(--btn-radius);}
  }
  .input-number__input[type=number], .input-number__input[type=text]{padding-left: 1.75rem;padding-right: 1.75rem;}
  .submit_container.d-grid{gap: 0.5rem;}

  .cart__wrapper{display: flex;flex-wrap: wrap; gap: 2em; max-width: 1600px;}
  .cart__col{
    flex-grow: 1; 
    flex-shrink: 0;
    flex-basis: 30%; 
    max-width: 100%;
    min-width: 450px;
    @include media-max(sm){min-width: 300px;}
    @include media-max(xs){min-width: 100%;}
  }

  .d-grid{
    .product{@include paper();  padding: 0.75em 1.25em; display: flex; gap: 1em;
      figure{margin: 0; background: color(white);
        img{width: 100%; height: 120px; object-fit: contain;}
      }
    }
  }
}

.addToCart__wrapper{position: sticky; top: 80px;  z-index: 1; height: 0;
  input{ box-shadow: 0px 0px 1px 1px rgba(#000,0.15);}
  .w-full{z-index: 1; padding: 1rem 1.5rem; display: flex;flex-wrap: wrap;justify-content: flex-end; gap: 1rem;}
} 


.iso__subproducts{
  .table-list__cell{vertical-align: middle;
    &[data-name=picture]{width: 150px;}
    &[data-name=name]{text-align: center; max-width: 200px; margin: auto;}
    &[data-name=teaser]{ min-width: 200px;
      span.teaser{@include multi-ellipsis($font-size: 1em, $line-height: 1.5, $lines-to-show: 4)}
    }
  }
  .table-list__line.separator{color: rgba(contrastFW($primary,body(background)),0.5);}
  .table-list{
    &.mode--block{
      .table-list__cell[data-name=picture]{margin: auto;}
    }
  }
}



// ISOTOPE STORE
body.apm_store{
  .mod_iso_filters{
    >*+[class*="mod_iso"]{
      margin-top: 2em; 
      // padding-top: 1em; 
      // border-top: 1px solid color(greylight);
    }
    h5{font-weight: 300;}
  }

  .mod_iso_productreader{
    .main .stick{ position: sticky; top: 0;}
    .sliderFW{@include paper(); aspect-ratio: 4/3; max-width: 100%;}
    .sliderFW__container{height: 100% !important;}
    .sliderFW__item__bg{padding: 0 60px;}

    .reassurance{
      ul{list-style: none; padding: 0; margin: 0; color: color(greystrong); }
      li{display: flex; align-items: center; gap: 0.85em;
        +li{margin-top: 0.45em;}
      }
      .icon{min-width: 35px; width: 35px; display: block; font-size: 1.5em; text-align: center;}
      span[tooltip]{opacity: 0.6; transition: opacity 0.4s; margin-left: 0.25em;
        &:hover{opacity: 1;}
      }
    }
  }
  [class*=mod_iso] %btn{letter-spacing: normal;}
}
.block-card[data-preset=apm--shop]{height: 100%;min-width: 0; font-size: calc(var(--griditem-minwidth) * #{str-replace(#{body(font-size)*0.8},'px','')} / 150);
  .block-card__wrapper{@include paper(false);}
  .block-card__content{padding: 1em;}
  .block-card__title{font-weight: bold; @include multi-ellipsis($line-height: 1.4, $lines-to-show: 2); margin-bottom: 0.5em;}
  .price{font-weight: bold;}
  .block-card__footer{justify-content: center; opacity: 1;}
  .NF{width: 35px; position: absolute; top: 0.5em; right: 0.5em;z-index: 1; pointer-events: none;}
}
.mod_iso_checkout{ display: grid; gap: $spacing;
  .steps{max-width: 100%; overflow: hidden;
    >ol{display: flex; gap: 5px; padding: 0; margin: 0; align-items: center; list-style-position: inside; font-size: 1.5em; font-weight: 300;
      li{flex-grow: 1; padding: 0 5px; @include ellipsis(); display: list-item;
        >a{color: inherit; text-decoration: none;}
        &.active{font-weight: bold; overflow: visible; }
      }
    }
  }
  .info_container:empty{display: none;}
}

.vcard{
  .mod_iso_checkout &,
  .mod_iso_orderdetails &{@include block-std(); width: fit-content;}
  .d-grid &{width: auto; margin-bottom: 0;}
}


.mod_iso_orderhistory{}
.mod_iso_orderdetails{
  .info_container{
    +.info_container{margin-top: $spacing;}
  }
}

.mod_iso_relatedproducts_in_cart{
  *+&{margin-top: $spacing;}
}

.mod_iso_productreader,.product_list_apm{
  form.loading{pointer-events: none; opacity: 0.3;}
}

// EXTRANET
.mod_login,
.mod_lostPasswordNotificationCenter{@extend %block-std !optional; width: fit-content;
  .login__submitwrapper,
  .widget-submit{text-align: center;}
}

.mod_iso_addressbook,
.mod_registration,
.mod_personalData{
  fieldset{display: grid; grid-template-columns: 1fr 1fr; column-gap: 2em; margin-bottom: 2em;
    .widget-password,
    legend{grid-column: 1/-1;}
  }
}

.password-checker .input-group input+button{transform: none; top: auto; right: auto; position: relative !important; opacity: 1; }


// NEWS
.mod_newslist{
  .block-card__actions{border-top: 0;}
} 



// PRODUCTS V2

.products--v2{
  --block-radius: 25px;

  .heroFW{font-weight: 400;}

  #main %btn{
    --btn-font-family: 'Exo 2';
    --btn-font-weight: 600;
    text-transform: uppercase;
  }

  .products__nav{
    ul{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      gap: 8px;
    }
    li{
      @include btn(); 
      --btn-font-family: 'Exo 2';
      --btn-font-weight: 600;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .iso__block{
    margin-bottom: var(--mod_article-margin-bottom); padding: var(--mod_article-padding-y) var(--mod_article-padding-x);
    @include lastChildNoMargin();
    &:last-child{margin-bottom: 0;}
    &.media{
      .image_container{border-radius: var(--block-radius); overflow: hidden;}
    }
  }
  .product_list{
    gap: 2em;
    text-wrap-style: balance;
    --product-border-size: 5px;
    .block-card{}
    .block-card__wrapper{
      box-shadow: none;
      &:before,&:after{background: none !important;}
    }
    .block-card__title{
      color: var(--theme);
      font-size: 2.25em;
      >*{color: inherit;}
      a{text-decoration: none; color: inherit;}
    }
    .block-card__footer{
      --btn-radius: 16px;
      margin-top: 0;
      opacity: 1;
      padding: 0;
      flex-direction: row;
      justify-content: flex-end;
      &:before{
        content: "";
        height: var(--product-border-size);
        width: calc(100% - var(--btn-radius));
        background: var(--theme);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
      }
      %btn{
        --btn-font-size: 1.5em;
        border-bottom-left-radius: 0;
        margin: 0;
      }
      .curved-corner-bottomright{
        position: relative;
        height: 100%;
        aspect-ratio: 1;
        overflow: hidden;
        &:before{
          content: "";
          display: block;
          width: 200%;
          height: 200%;
          position: absolute;
          border-radius: var(--btn-radius);
          bottom: var(--product-border-size);
          right: 0;
          box-shadow: 50px 50px 0 0 var(--theme);
        }
      }
    }
    .block-card__subtitle{font-size: 1.5em;}
    .block-card__content{gap: 1em; padding: 2.5em 2em 3em;
      >form{display: contents;}
    }
    .block-card__text{display: flex; flex-direction: column; gap: 1em;}
  }

  .filters{
    input.checkbox,
    input.radio,
    input[type="checkbox"],
    input[type="radio"]{
      &+label{
        box-shadow: none;
        padding: var(--btn-p-y) var(--btn-p-x) calc(var(--btn-p-y) + .1em);
        font-size: var(--btn-font-size);
        font-weight: var(--btn-font-weight);
        line-height: var(--btn-line-height);
        background-color: var(--btn-background);
        border: var(--btn-border-size) solid var(--btn-border-color);
        border-radius: var(--btn-radius);
        color: var(--btn-font-color);
      }
    }
  }
  // ISOTOPE CATALOGUE
  .mod_iso_productreader{
    .heroFW{
      min-height: 0 !important;
    }

    .iso__block:nth-of-type(2n){
      color:inherit; 
      background: none;
      position: relative;
      &:before{
        content:"";
        display: block;
        width: 100vw;
        background: color(greylighter);
        justify-self: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -50%;
        right: -50%;
        z-index: -1;
      }
      .btn-bg-primary{
        --btn-background: var(--primary);
        --btn-border-color: var(--primary);
        --btn-font-color: var(--primary-font);
      }
    }
  }

  .modalFW .mod_iso_productreader .iso__block:nth-of-type(2n){
    &:before{display: none;}
  }

  .iso__subproducts{
    --acc-title-bg: var(--primary);
    --acc-title-ft: var(--primary-font,white);
    --acc-el-gap: 1ch;
    --acc-toggler-size: 2.5em;

    .table-list__container{
      border-spacing: 0;
      margin-top: var(--acc-el-gap);
      tbody{
        display: grid;
        gap: var(--acc-el-gap);
      }
    }
    .table-list__line{
      background: none;
      box-shadow: none;
      grid-auto-flow: column;
      display: grid;
      grid-template-columns: auto 1fr;
      gap: var(--acc-el-gap);
      // margin-top: var(--acc-el-gap);
      &.variants{
        margin-top: 0;
        order: 1;
        >.table-list__cell{
          background: none;
          padding: 0;
        }
        .accordionFW{
          margin-top: 0;
        }
      }
    }
    .table-list__cell{
      // vertical-align: middle;
      align-content: center;
      min-width: 0;
      max-width: none;
      background: color(greylighter);
      padding: .75em 1em;
      &[data-name=picture]{width: 100px;}
      &[data-name=teaser]{ 
        span.teaser{@include multi-ellipsis($font-size: 1em, $line-height: 1.5, $lines-to-show: 4)}
        .h3{margin-bottom: 0.35em;}
      }

    }
    .separator:not(.table-list__headline) td{
      background: none;
      padding-top: 0;
    }

    
    .accordionFW{
      background: none;
      box-shadow: none;
      color: inherit;
      display: grid;
      gap: var(--acc-el-gap);
      .accordionFW{
        --acc-title-bg: #{color(blacklight)};
        --acc-title-ft: var(--secondary-font,white);
        margin: 0;
        margin-top: var(--acc-el-gap);
        .accordionFW{
          --acc-title-bg: var(--secondary);
          --acc-title-ft: var(--secondary-font,white);
        }
      }
    }
    .accordionFW__title{
      font-size: 1em;
      display: grid;
      grid-template-columns: var(--acc-toggler-size) 1fr;
      background: var(--acc-title-bg);
      color: var(--acc-title-ft);
      padding: 0;
      text-indent: 1em;
      gap: var(--acc-el-gap);
      rule: var(--acc-el-gap) solid white;
      min-height: var(--acc-toggler-size);
      align-items: center;
      &:after{
        order: -1;
        justify-self: center;
        transform: translateY(-25%) rotateX(0deg) rotate(45deg);
        position: unset;
        border-color: currentColor;
      }
    }
    .accordionFW__item{
      border: 0;
      .accordionFW__item{
        // margin-top: var(--acc-el-gap);
      }
    }

    .accordionFW__item.active{
      >.accordionFW__title:after{
        transform: translateY(25%) rotateX(-180deg) rotate(45deg);
      }
      >.accordionFW__content{
        padding: 0;
        padding-left:calc(var(--acc-toggler-size) + var(--acc-el-gap));
      }
    }
    .accordionFW__content{
      font-size: 1em;
      color: inherit;
      padding: 0;
      padding-left:calc(var(--acc-toggler-size) + var(--acc-el-gap));
    }
  }
}

.block-card[data-preset="apm--media"]{
  .block-card__wrapper{border-radius: var(--block-radius);}
  .block-card__content{
    background: var(--theme);
    color: var(--theme-font);
    padding: 1.25em;
  }
  .block-card__title {
    line-height: 1.45;
  }
}

.heroFW{
  &.splitcontent{
    --shift: 0px; 
    .heroFW__title{
      margin-bottom: 0.65em;
      font-size: 3rem; 
      font-size: clamp(16px,calc(1.2rem + 2vw),3rem);
    }
    .heroFW__wrapper{overflow: visible;display: grid; 
      --percent-w-picture: 0.4;
      --w-picture: calc(var(--percent-w-picture) * 100vw);
      grid-template-columns: calc(100% - var(--w-picture)) var(--w-picture);
      padding-block: var(--shift);
      @include media-max(md){
        --percent-w-picture: 0.3;
      }
      @include media-max(sm){
        --percent-w-picture: 1;
        --shift: 0px;
        grid-template-columns: 1fr;
        .heroFW__figure,
        .heroFW__content{grid-column: 1; grid-row: 1; order: 0;}
      }
    }
    .heroFW__figure{position: relative; order:1; max-height: 60vh; min-height: 100%;
      
      translate: calc(var(--shift) * -1) calc(var(--shift) * -1);
      width: calc(100% + var(--shift));
      max-width: none;
      border-radius: $radius 0 0 $radius;
      overflow: hidden;

    }
    &.height--content{
      .heroFW__figure{
        img{position: absolute; inset: 0}
      }
    }

    .heroFW__content{padding-left: 0; padding-right: 0; position: relative; height: 100%;
      translate: calc(var(--shift)) calc(var(--shift));
      width: calc(100% + var(--shift) * 1);
      max-width: none;
      border-radius: 0 $radius $radius 0;
      overflow: hidden;

      justify-self: end;
      display: grid;
      grid-template-columns: calc((100vw - var(--container-mw)) / 2 + #{$spacing}) auto;
      // color: color(white);
      &:after{@include pseudo(); top: 0; left: 0; width: 100%; height: 100%; z-index: -1; 
        // background-color: var(--theme);
      }
      @include media-max(sm){
        grid-template-columns: 1fr;
        &:after{opacity: 0.85;}
      }
    }
    .heroFW__content__wrapper{padding: 0 ($spacing*2.5) 0 0; max-width: 100%; width: 100%; grid-column: 2; overflow: hidden;
      @include media-max(sm){padding: 0 $spacing;}
      @include media-max(xs){padding: 0 $spacing;}
    }
    &.revert{
      .heroFW__figure{order:0;}
      .heroFW__wrapper{
        grid-template-columns: var(--w-picture) calc(100% - var(--w-picture)) ;
        @include media-max(sm){
          grid-template-columns: 1fr;
        }
      }
      .heroFW__content{
        grid-template-columns: auto calc((100vw - var(--container-mw)) / 2 + #{$spacing});
        @include media-max(sm){
          grid-template-columns: 1fr;
        }
      }
      .heroFW__content__wrapper{grid-column: 1;}
    }
  }
}